/* Profile photo */
.profile-image {
  margin-left: 60px;
}

.cv-btn svg{
  transform: rotate(90deg);
}

/* Responsive Views */
@media (max-width: 1023px) {
  .profile-image {
    margin-left: 0;
    width: auto;
  }
}