/* Custom Form Styles */
.custom-form input,
.custom-form textarea,
.custom-form input:focus-visible,
.custom-form textarea:focus-visible {
    outline: 0;
    border: 0;
    background: none;
    border-bottom: 2px solid #3a3838;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none;
}

.custom-form input:focus,
.custom-form textarea:focus{
    border-bottom: 2px solid #681515;
}
.transparent-badge{
    background-color: rgba(204, 0, 0, 0.7);
}
.verticalBottom{
    bottom: 70px;
}
.fi-award {
    top: 15px;
    left: 0;
}
.fi-award svg{
    font-size: 140px;
    opacity: 0.05;
}

/* Responsive Views */
@media (max-width: 1023px) {
    .testimonial-card{
        padding: 2rem;
    }
    .verticalBottom{
        flex-direction: row;
        right: 0;
        left: 0;
        margin: auto;
        justify-content: center;
        margin-bottom: -50px;
        bottom: 5px;
    }
    .verticalBottom .items-center{
        flex-direction: row;
    }
    .verticalBottom > button{
        transform: rotate(270deg);
    }
}
@media (min-width: 769px) and (max-width: 1300px) {
    .year-badge{
        display: none;
    }
}
@media (min-width: 1024px) and (max-width: 1500px) {
    .verticalBottom{
        bottom: 0;
        top: 0;
        margin: auto;
        position: absolute;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
    }
}

